.fyfont189221{ font-weight: bold; font-size: 11pt; color: #000000; font-family: 宋体; text-decoration: none ;}
.font189221{ font-size: 9pt; color: #000000; font-family: 宋体; background-color: #eeeeee; text-decoration: none ;}
.bgstyle189221{ font-size: 9pt; color: #000000; font-family: 宋体 ;}
.font1189221{ font-size: 9pt; color: #000000; font-family: 宋体; background-color: #f9f9f9; text-decoration: none ;}
.hffont189221{ font-size: 9pt; color: #000000; font-family: 宋体; text-decoration: none ;}
.window189221{ font-size: 9pt; color: #000000; font-family: 宋体; text-decoration: none ;}